body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}

@font-face {
  font-family: 'Big Noodle Titling Oblique';
  src: url(../branding//bignoodletitling/big_noodle_titling_oblique.ttf);
}

@font-face {
  font-family: 'Big Noodle Titling';
  src: url(../branding//bignoodletitling/big_noodle_titling.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

.logo {
  width: 30%;
  height: auto;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.title,
.ABV,
.style,
.description {
  margin: 2%;
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: 'Big Noodle Titling Oblique';
  font-size: 3rem;
  margin-top: 5%;
}

.ABV,
.style,
.description {
  font-family: 'Big Noodle Titling';
  font-size: 2rem;
}
