body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

@font-face {
  font-family: 'Big Noodle Titling Oblique';
  src: url(../branding/bignoodletitling/big_noodle_titling_oblique.ttf);
}

@font-face {
  font-family: 'Big Noodle Titling';
  src: url(../branding/bignoodletitling/big_noodle_titling.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

.logo {
  width: 20%;
  height: auto;
  margin: 0 auto;
  margin-top: 7%;
  display: flex;
  align-items: center; /* Use align-items instead of align-self */
  justify-content: center;
}

.title,
.ABV,
.style,
.description {
  margin: 2%;
  display: flex;
  align-items: center; /* Use align-items instead of align-self */
  justify-content: center;
  text-align: center;
}

.title {
  font-family: 'Big Noodle Titling Oblique';
  font-size: 3rem;
  margin-top: 5%;
}

.ABV,
.style,
.description {
  font-family: 'Big Noodle Titling';
  font-size: 2rem;
}

@media (max-width: 920px) {
  body {
    height: 100vh;
  }
  .logo {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
  }

  .title {
    font-size: 2.5rem;
    margin-top: 5%;
  }

  .ABV,
  .style,
  .description {
    font-size: 2rem;
    margin: 2%;
  }
}
